* {
  scroll-behavior: smooth;
  transition-delay: 100ms;
}

body {
  background-color: #264653;
}

.logo {
  width: 100px;
  height: 100px;
}

.header {
  background-color: #264653;
  animation: 2s ease-in-out 0s 1 slideFromAbove;
}
.navbar-nav {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-evenly !important;
  align-items: center !important;
}

nav {
  margin-bottom: 10vmax;
}

.navbar-toggler {
  margin-right: 1em !important;
}

.resume {
  background-color: none;
  border: solid 3px #2a9d8f;
  color: #2a9d8f;
}
.resume:hover {
  background-color: #50cebf;
}

section > div > h3 {
  color: #2a9d8f;
  font-size: 1.2vmax;
}

section > div > h1.name {
  color: #ccd6f6;
  font-size: 3.5vmax;
}

section > div > h1.desc {
  color: #b3b9cd;
  font-size: 3vmax;
}

section > div > h3.me {
  color: #b3b9cd;
  font-size: 1.5vmax;
  margin-top: 1em;
  line-height: 1.5em;
}

section > div > h4 {
  color: #b3b9cd;
}

.my-section {
  animation: 3s ease-in-out 0s 1 disappearAndAppear;
}

.main {
  width: 100%;
}

.txt {
  display: table;
  margin: 0 auto;
  text-align: left;
}

.github {
  background-color: none;
  border: solid 3px #2a9d8f;
  border-radius: 15px;
  color: #2a9d8f;
  padding: 1em;
  margin-top: 2em;
  font-size: 1vmax;
  margin-bottom: 10vmax;
}
.github:hover {
  background-color: #50cebf;
}

.section-title {
  color: #ccd6f6;
  font-size: 3vmax;
  margin-bottom: 1em;
}

section > div > h3 {
  color: #b3b9cd;
  font-size: 1.5vmax;
}

.profile {
  width: 20vmax;
  height: 20vmax;
  float: right;
  margin-right: -10vmax;
  border-radius: 2000px;
}
.profile-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .profile {
    display: none;
  }
  .profile-mobile {
    display: block;
    height: 20vmax;
    width: 20vmax;
    border-radius: 2000px;
    margin-left: 5em;
    margin-top: 3em;
  }

  .project-image {
    display: none;
  }

  .item {
    font-size: 2vmax;
  }

  .job-title {
    font-size: 2.3vmax;
  }
  .about-text {
    font-size: 2vmax;
  }

  #me {
    font-size: 2vmax;
  }

  #mail-btn {
    font-size: 2vmax;
  }
  .tit {
    margin-left: 1.5em;
  }
}

.link {
  color: #ccd6f6;
  text-decoration: underline;
}

.tit {
  margin-top: 10vmax;
}

.experience {
  display: flex;
  margin-bottom: 10vmax;
}

.chart > ul {
  list-style-type: none;
  border-left: solid;
  color: #b3b9cd;
}

section > div > h4 > span {
  color: #2a9d8f;
}

#free {
  display: block;
  color: #b3b9cd;
}

#black {
  display: none;
  color: #b3b9cd;
}

.freelancer {
  margin-left: 4vmax;
}

.chart-button {
  color: #b3b9cd;
  background-color: #264653;
  border: none;
}

.chart-button:hover {
  color: #2a9d8f;
}

.work {
  margin-bottom: 10vmax;
}

.ttt-ai {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description-card {
  display: flex;
  flex-direction: column;
  text-align: right;
  background-color: #233554;
  padding: 1.5em;
  border-radius: 5px;
}

.featured {
  color: #2a9d8f;
}

.project-title {
  color: #ccd6f6;
}

.project-text {
  color: #b3b9cd;
}

.project-image {
  width: 30vmax;
  height: 20vmax;
  margin-right: 1vmax;
}

footer {
  width: 100%;
}

.contact {
  display: table;
  margin: 0 auto;
}

.mail {
  background-color: none;
  border: solid 3px #2a9d8f;
  border-radius: 15px;
  color: #2a9d8f;
  padding: 1em;
  font-size: 1vmax;
  margin-bottom: 2em;
}

.mail:hover {
  background-color: #50cebf;
  color: #2a9d8f;
}

.icons {
  display: flex;
  justify-content: center;
}
.icon-link {
  margin: 3vmax 2vmax 3vmax 2vmax;
}

@keyframes slideFromAbove {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slideFromAbove2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes disappearAndAppear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
