body {
  background-color: #264653;
}

.logo {
  width: 100px;
  height: 100px;
}

.header {
  background-color: #212529;
}
.navbar-nav {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-evenly !important;
  align-items: center !important;
}

nav {
  margin-bottom: 10em;
}

.navbar-toggler {
  margin-right: 1em !important;
}

.resume {
  background-color: none;
  border: solid 3px #2a9d8f;
  color: #2a9d8f;
}
.resume:hover {
  background-color: #50cebf;
}

section > div > h3 {
  color: #2a9d8f;
  font-size: 1.2vmax;
}

section > div > h1.name {
  color: #ccd6f6;
  font-size: 3.5vmax;
}

section > div > h1.desc {
  color: #b3b9cd;
  font-size: 3vmax;
}

section > div > h4 {
  color: #b3b9cd;
  font-size: 1vmax;
  margin-top: 1em;
  line-height: 1.5em;
}

.about {
  width: 100%;
}

.txt {
  display: table;
  margin: 0 auto;
  text-align: left;
}

.github {
  background-color: none;
  border: solid 3px #2a9d8f;
  border-radius: 15px;
  color: #2a9d8f;
  padding: 1em;
  margin-top: 2em;
}
.github:hover {
  background-color: #50cebf;
}
